<div class="user-header text-center">
  <h1 class="title-medium">
    <%= @user.name %>
  </h1>

  <div class="user-image-div">
    <%= image_tag user_avatar(@user), class: 'user-image', alt: '[Фото]' %>
  </div>

  <h2 class="title-small buffer-both">
    <%= @user.login %>
  </h2>
  У вас <%= decline(@user.posts.count, "вопрос", "вопроса", "вопросов", true) %>
  <div class="user-ask-button container text-center">
    <%= link_to "Спроси меня", '', class: 'button button-light', id: 'ask-button' %>
  </div>
</div>

<div class="user-question-form-div" id='ask-form'>
  <div class="user-question-form buffer-both">
    <%= form_for @post do |f| %>
      <%= f.hidden_field :user_id %>

      <div class="form-field">
        <%= f.label "Ваш вопрос для #{@user.login}", class: 'form-label' %>
        <%= f.text_area :text, class: 'form-textarea' %>
      </div>

      <div class="form-action">
        <%= submit_tag 'Запостить', class: 'button button-small button-dark' %>
      </div>
    <% end %>
  </div>
</div>

<div class="column-3-4">
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @user.posts.select(&:persisted?).sort_by(&:created_at).reverse.each do |post| %>
        <%= render partial: 'posts/post', object: post %>
      <% end %>
    </div>
  </div>
</div>
