<div class="user-header text-center" style="background: <%= @user.header_background_color %>;">
  <h1 class="title-medium">
    <%= @user.name %>
  </h1>

  <div class="user-image-div">
    <%= image_tag @user.avatar_url, class: 'user-image', alt: '[Фото]' %>
  </div>

  <h2 class="title-small buffer-both">
    @<%= @user.login %>
  </h2>
</div>

<div class="user-details">
  <div class="user-ask-button container text-center">
    <%= link_to "Спроси меня", '', class: 'button button-light', id: 'ask-button' %>
  </div>

  <div class="user-statistics container text-center">
    <div class="column-1-3">
      <h1 class="title-small"><%= @posts_count %></h1>
      <p><%= decline(@posts_count, "вопрос", "вопроса", "вопросов") %></p>
    </div>
    <div class="column-1-3">
      <h1 class="title-small"><%= @answers_count %></h1>
      <p><%= decline(@answers_count, "ответ", "ответа", "ответов") %></p>
    </div>
    <div class="column-1-3">
      <h1 class="title-small"><%= @unanswered_count %></h1>
      <p><%= decline(@unanswered_count, "безответный", "безответных", "безответных") %></p>
    </div>
  </div>
</div>

<div class="user-question-form-div" id='ask-form'>
  <div class="user-question-form buffer-both">
    <%= form_for @post do |f| %>
      <%= f.hidden_field :user_id %>
      <div class="form-field">
        <%= f.label "Ваш вопрос для @#{@user.login}", class: 'form-label' %>
        <%= f.text_area :text, class: 'form-textarea' %>
      </div>

      <div class="form-action">
        <%= submit_tag 'Спросить', class: 'button button-small button-dark' %>
      </div>
    <% end %>
  </div>
</div>

<div class="column-3-4">
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @posts.each do |post| %>
        <%= render partial: 'posts/post', object: post %>
      <% end %>
    </div>
  </div>
</div>
