 <div class="question">
  <div class="question-content">

    <div class="question-text text-lead">
      <%= post.text %>
    </div>

    <% if post.answer %>
      <div class="question-answer text-lead">
        <%= post.answer %>
      </div>
    <% end %>

    <div class="question-date">
      <%= post.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
      by <%= post.user.name %>
      <% edit_icon = post.answer ? 'reply' : 'pencil' %>
      <% if post.user == current_user %>

        <!-- сделать чтоб этот гребаный ксс в одну строчку был справа от даты проститутка -->
        <%= link_to fa_icon(edit_icon), edit_post_path(post) %>
        <%= link_to fa_icon('trash-o'), post_path(post),
                    method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
      <% end %>
    </div>

  </div>
</div>
